<nav class="nav-holder">
    <div class="container">
        <div class="navbar-custom">
            
            
            <%= link_to root_path ,class:"link-tag" do  %>
            
            
            <span class="logo">
                <%= image_tag("logo.png" ,height: '60px' ) %>
            </span>

            <% end %>
            <div class="menu-holder">
                <ul class="nav-item">
                 <li> <%= link_to '/courses/index' ,class: "link-tag" do %>   <span class="a">Courses</span>   <% end %> </li>
                   <li> <%= link_to '/courses/index' ,class: "link-tag" do %>   <span class="a">Mingle</span>   <% end %> </li>  
                    <li> <%= link_to '/courses/index' ,class: "link-tag" do %>   <span class="a">About</span>   <% end %> </li> 
                 <!-- <li> <%= link_to '/courses/index' ,class: "link-tag" do %>   <span class="a"></span>   <% end  %> </li> -->
                </ul>
            </div>

            <div class="darkmode-search">

                <div class="darkmode">
                    <input type="checkbox" id="dark-box" hidden>
                    <i id="moon" class='bx bx-moon'></i>
                </div>

                <div class="search-box">
                    <i id="search" class='bx bx-search'></i>

                    <form action="">
                    <div id ="search-field" class="search-field">
                    <input type="text" placeholder="search">
                    <button type="submit" class="btn btn-outline-primary">
                     <i class='bx bx-search'></i>
                    </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>
    <%= javascript_pack_tag "Dark_Mode.js" %>