

 <% if @filtered_blog.length == 0  %>

 <h1>no result found</h1>
 <% else %>
    
<div>
<% @filtered_blog.each do |f| %>

 <p> <%= f.title %></p> 
 <%# <%=  link_to f.title , %> 
 <a href="/blogs/<%= f['id'] %>"> <%= f.title %> </a>

      
<% end %>
</div>


<% end %>

<h1>username</h1>
<% @filtered_user.each do |f| %>

 <p> <%= f.Username %></p> 
 <%# <%=  link_to f.title , %> 

      
<% end %>
